.header {
    width: 100%;
    height: 60px;
    background-color: rgb(6, 120, 82);

}

.title {
    text-align: center;
    padding: 12px 0;
    font-size: 30px;
    font-weight: bold;
    color: antiquewhite;
}